
/* .cl1{color:red}
.cl2{color: orange;}
.cl3{color: yellow;}
.cl4{color: yellowgreen;} */

.cont{
    display: flex;
flex-wrap: wrap;
}
.content1{
    text-align: center;
    position: relative;
    width: 20%;
border: 2px solid black;
}
.content2{
   text-align: padding left;
    position: relative;
    width: 20%;
    border: 2px solid black;}
    body{background-color: rgb(248, 215, 166);}
    
  